body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: yellow;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  font-family: "roboto",sans-serif;
  text-align: center;
  letter-spacing: .05em;
  font-weight: 500;
}

div p {
  padding: 20px;
/* background-color: #ffff88;*/
}

div {
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

button {
  font-family: "roboto",sans-serif;
  margin: 0 auto;
  display: block;
  font-size: 1.2rem;
  width: 270px;
  line-height: 2;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  letter-spacing: .05em;
  font-weight: 500;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.phrase {
  font-weight: bold;
}

.output {
  font-style: italic;
}

/* ============================================================================================================================
== RECTANGLE-BORDER STYLE WITH CURVE
** ============================================================================================================================ */

.bubble {
  position:relative;
  margin:1em 30% 3em;
  font-weight: bold;
  border:10px solid #000;
  background:#fff;
  /* css3 */
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}

/* creates larger curve */
.bubble:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-40px;
  left:50px;
  width:50px;
  height:30px;
  border-style:solid;
  border-width:0 10px 10px 0;
  border-color:#000;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:80px 50px;
  -moz-border-radius-bottomright:80px 50px;
  border-bottom-right-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.bubble:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-40px;
  left:50px;
  width:20px;
  height:30px;
  border-style:solid;
  border-width:0 10px 10px 0;
  border-color:#000;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.bubble > :first-child:before {
  content:"";
  position:absolute;
  bottom:-40px;
  left:45px;
  width:10px;
  height:10px;
  background:#000;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.bubble > :first-child:after {
  content:"";
  position:absolute;
  bottom:-25px;
  left:76px;
  width:24px;
  height:30px;
  background:#fff;
}

